################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CanvasConsoleManager/obj/Debug/CanvasConsoleManager.csprojResolveAssemblyReference.cache
/CanvasConsoleManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CanvasConsoleManager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CanvasSync/obj/Debug/CanvasSync.csproj.GenerateResource.Cache
/CanvasSync/obj/Debug/CanvasSync.csprojResolveAssemblyReference.cache
/CanvasSync/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CanvasSync/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CanvasSync/obj/Release/CanvasSync.csproj.GenerateResource.Cache
/CanvasSync/obj/Release/DesignTimeResolveAssemblyReferences.cache
/CanvasSync/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CanvasWebApi/obj/Debug/CanvasWebApi.csprojResolveAssemblyReference.cache
/CanvasWebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CanvasWebApi/obj/Release/CanvasWebApi.csprojResolveAssemblyReference.cache
/CanvasWebApi/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/packages/Microsoft.ApplicationInsights.2.2.0/Microsoft.ApplicationInsights.2.2.0.nupkg
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6.nupkg
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/Microsoft.ApplicationInsights.DependencyCollector.2.2.0.nupkg
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0.nupkg
/packages/Microsoft.ApplicationInsights.Web.2.2.0/Microsoft.ApplicationInsights.Web.2.2.0.nupkg
/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Microsoft.ApplicationInsights.WindowsServer.2.2.0.nupkg
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0.nupkg
/packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.SelfHost.5.2.3/Microsoft.AspNet.WebApi.SelfHost.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
/packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
/packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
/packages/NLog.4.1.0/NLog.4.1.0.nupkg
/CanvasWebApi.v12.suo
